*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

/*heaser part*/

.heading{
    background-color: rgb(205, 19, 19);
    height: 90px;
    width: auto;
}
.logo{
    display: inline-block;
    width: 52px;
    height: 52px;
    background-color: #ffff;
    border-radius: 52%;
    font-size: 33px;
    color: #eb2929;
    margin-left: 7%;
    margin-top: 1%;
    text-align: center;
}
.login{
    display: inline;
    float: right;
    margin-right: 14%;
    margin-top: 35px;
    color: white;
    font-size: 16px;
}
.account{
    display: inline;
    float: right;
    margin-right: -13%;
    margin-top: 2%;
    color: white;
    font-size: 16px;
    border: solid 1px white;
    padding: 8px 18px 6px 17px;
    border-radius: 3px;
}
.head_line{
    width: auto;
    height: 52px;
    margin: 15px 26px 23px 102px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(31, 31, 136);
}


/*filter*/
.filter{
    display: inline-block;
    width: 260px;
    height: 700px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    background-color: #fff;
    margin: 27px 55px 8px 113px;
    padding: 17px 25px 31px 26px;
}
.items{
    display: inline-block;
    vertical-align: top;
}
.food_1{
    width: 794px;
    height: 291px;
    margin: 27px 154px 24px 45px;
    padding: 25px 5px 10px 15px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    background-color: #fff;
}
.img1{
  width: 120px;
  height: 120px;
  margin: 0 41px 31px 0;
  object-fit: fill;
  border-radius: 15px;
}
.details{
    display: inline-block;
}
.n1{
    display: inline-block;
    width: 298px;
    height: 43px;
    margin: 0px 0px 0px 0px;
    font-size: 27px;
    font-weight: 600;
    text-align: left;
    color: #192f60;
}
.n2{
    width: 39px;
    height: 23px;
    margin: 5px 0px 5px 0px;
    font-size: 16px;
    font-weight: 500;
    color: #192f60;
    line-height: 1.88;
}
.n3{
    width: 500px;
    height: 23px;
    margin: 5px 0px 38px 0px;
    font-size: 16px;
    line-height: 1.88;
    color: #636f88;
}
.line_break{
    width: 726.4px;
    height: 0;
    margin: 5px 0 0px;
    border: solid 1px #dedfe5;
}
.table{
    display: inline-block;
    width: 350px;
    height: 118px;    
    margin: 0px 25px 0px 5px;
}
.cuisines{
    font-size: 16px;
    line-height: 1.88;
    color: #636f88;
    padding: 0 40px 0 0;
}       
.bakery{
    color: rgb(57, 57, 139);
}
.cf2{
    font-size: 16px;
    line-height: 1.88;
    color: #636f88;
    padding: 0 40px 0 0;
}
.price{
    color: rgb(57, 57, 139);
}

/*pagination*/
.pagination{
    display: inline-block;
    margin-left: 50%;
    margin-top: 2px;
    padding: 2px;
}
.pagination a{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: solid 1px grey;
  border-radius: 10px;
  margin: 2px;
}
.fil{
    width: 55px;
    height: 25px;
    margin: 0 154px 15px 0;
    font-size: 18px;
    color: #192f60;
}
.location{
    width: 106px;
    height: 20px;
    margin: 29px 102px 11px 1px;
    font-size: 14px;
    line-height: 1.5;
    color: #192f60;
}
.loc{
    width: 208px;
    height: 35px;
    margin: 8px 0px 8px 2px;
    padding: 8px 16px 7px 15px;
    border-radius: 3px;
    border: solid 1px #8c96ab;
}
.label{
    width: 52px;
    height: 20px;
    margin: 22px 157px 35px 1px;
    font-size: 14px;
    line-height: 1.5;
    color: #192f60;
    font-weight: 900;
}




